<div class="menu-bg"></div>
<div id="header">
  <%= render "shared/header" %>
</div>
<div class="knowledge">
  <div class="fade-bg"></div>
  <div class="image">
    <div class="bg">
      <div class="container">
        <h2>DRY - DON'T REPEAT YOURSELF</h2>
        <small>By Andy Hunt & Dave Thomas</small>
      </div>
    </div>
  </div>
  <div class="animate-bg"></div>
</div>

<div id="about" class="section">
  <%= render "homepage/sections/about" %>
</div>
<div id="expertise" class="section">
  <%= render "homepage/sections/area_of_expertise", skills: skills %>
</div>
<div class="design-image">
  <div class="design_bg left"></div>
  <div class="design_bg right"></div>
  <%= image_tag('shutterstock_316612367.jpg') %>
</div>

<%= render "homepage/sections/portfolio", portfolios: portfolios %>
<div id="articles" class="section">
    <!-- Your content goes here -->
</div>
<div id="projects" class="section">
    <!-- Your content goes here -->
</div>
<div id="contact" class="section">
    <%= render "homepage/sections/contact" %>
</div>
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="social">
          <li><a href="https://www.drupal.org/u/audriusb" target="_blank" title="Drupal profile"><i class="fa fa-drupal" aria-hidden="true"></i>Drupal</a></li>
          <li><a href="https://lt.linkedin.com/in/audrius-bukauskas-87998345" target="_blank" title="Linkedin profile"><i class="fa fa-linkedin" aria-hidden="true"></i>Linkedin</a></li>
          <li><a href="https://twitter.com/aubuka" target="_blank" title="Twitter profile"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
          <li><a href="https://github.com/medis" target="_blank" title="Github profile"><i class="fa fa-github" aria-hidden="true"></i>Github</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-md-push-4">
        <div class="logo">
          <%= image_tag('logo_white.png', :class => 'white') %>
        </div>
      </div>
    </div>
  </div>
</div>
