<div id="logo">
  <a href="/" alt="Home" title="Home">
    <%= image_tag('logo.png') %>
  </a>
</div>
<nav>
  <ul>
    <li>
      <a href="#">
        <div class="icon about"><%= image_tag('about.png') %></div>
        <div class="icon about hover"><%= image_tag('about_hover.png') %></div>
        <h2 class="">ABOUT</h2>
        <h3>Little something about me</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="icon work"><%= image_tag('work.png') %></div>
        <div class="icon work hover"><%= image_tag('work_hover.png') %></div>
        <h2>PORTFOLIO</h2>
        <h3>Some of my work for your eyes only</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="icon articles"><%= image_tag('articles.png') %></div>
        <div class="icon articles hover"><%= image_tag('articles_hover.png') %></div>
        <h2>ARTICLES</h2>
        <h3>Read what I have to say</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="icon projects"><%= image_tag('projects.png') %></div>
        <div class="icon projects hover"><%= image_tag('projects_hover.png') %></div>
        <h2>PROJECTS</h2>
        <h3>See my other projects</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="icon contact"><%= image_tag('contact.png') %></div>
        <div class="icon contact hover"><%= image_tag('contact_hover.png') %></div>
        <h2>CONTACT</h2>
        <h3>Get in touch with me</h3>
      </a>
    </li>
  </ul>
</nav>
