<div id="area-of-expertise">
  <div id="trigger-area-of-expertise"></div>
  <div class="container">
    <div class="section-title">
      <div class="border left-border"></div>
      <h2>AREAS OF EXPERTISE</h2>
      <div class="border right-border"></div>
    </div>
    <% skills.each do |group, tech| %>
      <div class="<%= group %> col-md-4">
        <h3><%= group %></h3>
        <% tech.each do |tech_title, skill| %>
          <div class="title"><%= tech_title %></div>

          <% skill.each do |object| %>
            <div class="progress">
              <div class="progress-bar hidden-bar" role="progressbar" aria-valuenow="<%= object.percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= object.percent %>%; transition-delay: <%= rand(0.0..1.0).round(1) %>s">
                <div class="left"><%= object.title %></div>
                <div class="right"><%= object.percent %>%</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
  <div id="trigger-skills"></div>
</div>
