<div class="section container">
  <div id="portfolio">
    <svg width="0" height="0">
      <defs>
        <clipPath id="clipper" clipPathUnits="objectBoundingBox">
          <polygon points=".9232051 .40, .9379385 .431596, .9469616 .4652704, .95 .50, .9469616 .5347296, .9379385 .568404, .9232051 .60, .7982051 .8165064, .7782089 .8450639, .7535575 .8697152, .725 .8897114, .693404 .9044449, .6597296 .9134679, .625 .9165064, .375 .9165064, .3402704 .9134679, .306596 .9044449, .275 .8897114, .2464425 .8697152, .2217911 .8450639, .2017949 .8165064, .0767949 .60, .0620615 .568404, .0530384 .5347296, .05 .50, .0530384 .4652704, .0620615 .431596, .0767949 .40, .2017949 .1834936, .2217911 .1549361, .2464425 .1302848, .275 .1102886, .306596 .0955551, .3402704 .0865321, .375 .0834936, .625 .0834936, .6597296 .0865321, .693404 .0955551, .725 .1102886, .7535575 .1302848, .7782089 .1549361, .7982051 .1834936"
          />
        </clipPath>
      </defs>
    </svg>
    <div class="section-title">
      <div class="border left-border"></div>
      <h2>PORTFOLIO</h2>
      <div class="border right-border"></div>
    </div>
    <div class="portfolio-wrapper">
      <div class="col-md-4 item">
        <a href="#" role="button" v-on:click.prevent.stop="portfolioClick">
          <div class="poligon">
            <div class="hover_bg">
              <div class="vertical-center">
                <div class="title">WEA</div>
                <div class="spec">Drupal 8, PHP 7, Windows</div>
                <div class="magnifying-glass"><span><%= image_tag('magnifying_glass.png') %></span></div>
              </div>
            </div>
            <%= image_tag('portfolio/wea.jpg', :class => 'portfolio-image') %>
          </div>
        </a>
        <div class="hidden description">
          <h3>WEA</h3>
          <p>This is description</p>
        </div>
      </div>
      <div class="visible-xs" v-html="row0_description"></div>
      <div class="col-xs-12 col-md-4 item">
        <a href="#" role="button" v-on:click.prevent.stop="portfolioClick">
          <div class="poligon">
            <div class="hover_bg">
              <div class="vertical-center">
                <div class="title">RNIB</div>
              </div>
            </div>
            <%= image_tag('portfolio/rnib.jpg', :class => 'portfolio-image') %>
          </div>
        </a>
      </div>
      <div class="col-xs-12 visible-xs visible-sm" v-html="row0_description"></div>
      <div class="col-md-4 item">
        <a href="#" role="button">
          <div class="poligon">
            <div class="hover_bg">
              <div class="vertical-center">
                <div class="title">Youtalk-insurance</div>
              </div>
            </div>
            <%= image_tag('portfolio/youtalk.jpg', :class => 'portfolio-image') %>
          </div>
        </a>
      </div>
      <div class="col-xs-12" v-html="row0_description"></div>
      <div class="col-md-4 item">
        <a href="#" role="button">
          <div class="poligon">
            <div class="hover_bg">
              <div class="vertical-center">
                <div class="title">Brockmans Gin</div>
              </div>
            </div>
            <%= image_tag('portfolio/brockmans.jpg', :class => 'portfolio-image') %>
          </div>
        </a>
      </div>
      <div class="col-md-4 item">
        <a href="#" role="button">
          <div class="poligon">
            <div class="hover_bg">
              <div class="vertical-center">
                <div class="title">Condor Gold</div>
              </div>
            </div>
            <%= image_tag('portfolio/condor.jpg', :class => 'portfolio-image') %>
          </div>
        </a>
      </div>
      <div class="col-md-4 item">
        <a href="#" role="button">
          <div class="poligon">
            <div class="hover_bg">
              <div class="vertical-center">
                <div class="title">Medava</div>
              </div>
            </div>
            <%= image_tag('portfolio/medava.jpg', :class => 'portfolio-image') %>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
