<div class="section">
  <div id="portfolio">
    <div id="trigger-portfolio"></div>
    <div class="container">
      <div class="section-title">
        <div class="border left-border"></div>
        <h2>PORTFOLIO</h2>
        <div class="border right-border"></div>
      </div>
      <div class="portfolio-wrapper">

        <% portfolios.each do |portfolio| %>
          <div class="col-xs-6 col-sm-4 col-md-3 item">
            <a href="#" role="button" v-on:click.prevent="portfolioClick">
              <div class="poligon">
                <div class="hover_bg">
                  <div class="vertical-center">
                    <div class="title"><%= portfolio.title %></div>
                    <div class="spec"><%= portfolio.spec %></div>
                    <div class="magnifying-glass"><span><%= image_tag('magnifying_glass.png') %></span></div>
                  </div>
                </div>
                <%= image_tag(portfolio.image, :class => 'portfolio-image') %>
              </div>
            </a>
            <div class="hidden description">
              <h3><%= portfolio.title %></h3>
              <p><%= portfolio.description %></p>
              <% if portfolio.technology.any? %>
                <div class="technology-list-wrapper">
                  <h4>TECHNOLOGY USED</h4>
                  <ul class="technology-list">
                    <% portfolio.technology.each do |technology| %>
                      <li><%= image_tag("technologies/#{technology}.png", title: technology) %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <% unless portfolio.website.empty? %>
                <div class="website-link-wrapper">
                  <%= link_to(raw('<i class="fa fa-link" aria-hidden="true"></i> <span>View website</span>'), portfolio.website, {target: '_blank'}) %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="dynamic-description hidden" v-html="description"></div>
        <% end %>

      </div>
    </div>
  </div>
</div>
